asgiref
dj-database-url
dj-static
Django
django-environ
django-model-utils
gunicorn
psycopg2-binary
python-decouple
python-dotenv
sqlparse
static3
whitenoise
opencv-python
numpy
tensorflow
scikit-learn
matplotlib